.wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.title{
    display: block;
    width: fit-content;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
}
.description{
    font-family: Arial, Helvetica, sans-serif;
}
.texarr{
    display: block;
    width: 700px;
    height: 160px;
    border-radius: 10px;
}
.none{
    display: none;
}

.keyboard{
    width: 940px;
    background:rgb(96, 96, 97);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: white;

}
.keyboard-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.key{
    width: 50px;
    height: 50px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.1s;
    &:hover{
        background: cornflowerblue
    }
}
.is-active{
    background-color: rgb(60, 118, 225);
    border-radius: 15px;
    &:hover{
        background-color: rgb(60, 118, 225);
    }
}
.Backspace{
    width: 160px;
}

.Tab{
    width: 75px;
}
.Delete{
    width: 75px;
}

.CapsLock{
    width: 120px;
}
.Enter{
    width: 150px
}

.ShiftLeft{
    width: 220px;
}
.ShiftRight{
    width: 50px;
}
.ControlLeft{
    width: 75px;
}
.ControlRight{
    width: 75px;
}
.Space{
    width: 410px;
}
